:root {
    --red: #CC1129;
    --yellow: ;
    --brown: ;
    --white: white;
    --black: black;
}

body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-family: 'Shippori Mincho', serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 88px;
}

h2 {

}

h3 {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
}

h4 {
    font-family: 'Shippori';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 56px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.center {

}

.hero-image {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6)),
    url("images/hero.png");
    background-position: left;
    background-repeat: no-repeat;
    background-color: var(--black);
    background-size: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 693px;
    width: 100%;
}
.hero-text {
    position: relative;
    left: 50%;
    width: 650px;
}

.hero-text h1 {
    color: var(--white)
}

.hero-text h2 {
}

.hero-text h3 {
    color: var(--white)
}

.hero-text h4 {
    color: var(--red)
}

.hero-text p {
    color: var(--white)
}

.hero-text button {
    color: var(--white);
    background-color: var(--red)
}

.info-section {
    text-align: center;
    margin: 45px 0px;
    
}
.info-section > * {
    text-align: center;
    margin: 10px 0px;
    
}

.info-section h4 {
    max-height: 30px;
    color: var(--red)
}

